{% extends 'base.html.twig' %}

{% block title %}Vin's Food | Connexion{% endblock %}

{% block body %}
    <main>
        <section class="book_section layout_padding">
        <div class="container">
        <div class="heading_container">
            <h2>
                Connexion
            </h2>
        </div>
        <form class="form_container" method="post">
            {% if error %}
                <div class="alert alert-danger mt-4" style="text-align: center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}


            {% if app.user %}
                <div class="mb-3" style="text-align: center">
                    Connecté en tant que : {{ app.user.userIdentifier }}
                </div>
                <div class="mb-3" style="text-align: center">
                    <a href="{{ path('app_logout') }}" style="color: darkorange; font-weight: bold">SE DECONNECTER</a>
                </div>
            {% endif %}
            <div class="row" id="formRecette">
                <div class="col-md-6">
                    <div class="form_container">
                        <label for="inputEmail">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                        <label for="inputPassword">Mot de passe</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >


                        <div class="checkbox mb-3" style="text-align: center">
                            <label>
                                <input type="checkbox" name="_remember_me"> Se souvenir de moi
                            </label>
                        </div>

                        <div style="text-align: center">
                            <button class="btn-box" type="submit">
                                Connexion
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
        </section>
    </main>
{% endblock %}
