{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ recette.nom }}{% endblock %}

{% block body %}
    <main>
        <!-- MAIN -->
        <section class="book_section layout_padding">
        <div class="container">
            <div>
                <!-- DETAILS RECETTE -->
                <a href="{{ path('main_accueil') }}">
                    <button class="retourAccueil">
                        <i class="fa-solid fa-arrow-left"></i>
                    </button>
                </a>
                <h2 id="nomRecetteDetails" class="heading_container">{{ recette.nom }}</h2>

                <!-- FLASH MESSAGE -->
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success mt-4" style="text-align: center">
                        {{ message }}
                    </div>
                {% endfor %}

                <div class="row details" style="margin-bottom: 30px">
                    <!-- COLONNE ETAPES -->
                    <div class="col-md-9">
                        <div>
                            <p class="intituleEtapes">Etapes de la recette :</p>
                        </div>
                        <div class="etapesRecetteDiv">
                            {% for line in recette.etapes|split('\n') %}
                                <p><span class="etapesRecette" style="font-weight:bold;">{{ line[:2] }}</span>{{ line[2:] }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- COLONNE INFORMATIONS -->
                    <div class="col-md-3 infosRecette" style="text-align: left">
                        <div class="infosRecetteRow">
                            {% if recette.tempsPreparation == 60 %}
                                <p class="intitule">Temps de préparation :</p> {{ (recette.tempsPreparation/60)|round(0, 'floor') }} heure
                            {% elseif recette.tempsPreparation == 120 or recette.tempsPreparation == 180 %}
                                <p class="intitule">Temps de préparation :</p> {{ (recette.tempsPreparation/60)|round(0, 'floor') }} heures
                            {% elseif recette.tempsPreparation > 60 %}
                                <p class="intitule">Temps de préparation :</p> {{ (recette.tempsPreparation/60)|round(0, 'floor') }} heure {{ (recette.tempsPreparation|round(0, 'ceil')%60) }} minutes
                            {% elseif recette.tempsPreparation < 60 and recette.tempsPreparation != 0 %}
                                <p class="intitule">Temps de préparation :</p> {{ (recette.tempsPreparation) }} minutes
                            {% endif %}
                        </div>
                        <div class="infosRecetteRow">
                            {% if recette.tempsCuisson == 60 %}
                                <p class="intitule">Temps de cuisson :</p> {{ (recette.tempsCuisson/60)|round(0, 'floor') }} heure
                            {% elseif recette.tempsCuisson == 120 or recette.tempsCuisson == 180 %}
                                <p class="intitule">Temps de cuisson :</p> {{ (recette.tempsCuisson/60)|round(0, 'floor') }} heures
                            {% elseif recette.tempsCuisson > 60 %}
                                <p class="intitule">Temps de cuisson :</p> {{ (recette.tempsCuisson/60)|round(0, 'floor') }} heure {{ (recette.tempsCuisson|round(0, 'ceil')%60) }} minutes
                            {% elseif recette.tempsCuisson < 60 and recette.tempsCuisson != 0 %}
                                <p class="intitule">Temps de cuisson :</p> {{ (recette.tempsCuisson) }} minutes
                            {% endif %}
                        </div>
                        <div class="infosRecetteRow">
                            {% if recette.tempsRepos == 60 %}
                                <p class="intitule">Temps de repos :</p> {{ (recette.tempsRepos/60)|round(0, 'floor') }} heure
                            {% elseif recette.tempsRepos == 120 or recette.tempsRepos == 180 %}
                                <p class="intitule">Temps de repos :</p> {{ (recette.tempsRepos/60)|round(0, 'floor') }} heures
                            {% elseif recette.tempsRepos > 60 %}
                                <p class="intitule">Temps de repos :</p> {{ (recette.tempsRepos/60)|round(0, 'floor') }} heure {{ (recette.tempsRepos%60) }} minutes
                            {% elseif recette.tempsRepos < 60 and recette.tempsRepos != 0 %}
                                <p class="intitule">Temps de repos :</p> {{ (recette.tempsRepos) }} minutes
                            {% endif %}
                        </div>
                        <div class="infosRecetteRow">
                            <p class="intitule">Nombre de personnes :</p> {{ recette.nbPersonnes }} personnes
                        </div>
                        <div class="infosRecetteRow listeIngredients">
                            <p class="intitule">Liste des ingrédients :</p>
                            <p>{{ recette.listeIngredients|nl2br }} </p>
                        </div>
                    </div>
                </div>
                <!-- IMAGE RECETTE -->
                <div class="gallery">
                {% set count = 0 %}
                {% for image in recette.images %}
                    {% if count > 0 %}
                    <div class="img-recette">
                        <a href="{{ asset('images/recettes/'~image.name) }}" class="img-recette-details" data-lightbox="gallery">
                            <img src="{{ asset('images/recettes/'~image.name) }}"  alt="Recette">
                        </a>
                    </div>
                    {% endif %}
                    {% set count = count + 1 %}
                {% endfor %}
                </div>
            </div>
        </div>
    </section>
    </main>

{% endblock %}

