{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Modifier recette{% endblock %}

{% block body %}
  <main>
      <!-- food section -->
      <section class="book_section layout_padding">
          <div class="container">
              <div class="heading_container">
                  <h2>
                      Modifier la recette
                  </h2>
              </div>
              <div class="row" id="formRecette">
                  <div class="col-md-6">
                      <div class="form_container">
                          <form method="post" id="recetteForm" enctype="multipart/form-data">
                              {{ form_start(recetteForm) }}
                                {{ form_errors(recetteForm.nom) }}
                              {{ form_row(recetteForm.nom) }}
                              {{ form_errors(recetteForm) }}
                              {{ form_row(recetteForm.tempsPreparation) }}
                              {{ form_row(recetteForm.tempsCuisson) }}
                              {{ form_row(recetteForm.nbPersonnes) }}
                              {{ form_row(recetteForm.listeIngredients) }}
                              {{ form_row(recetteForm.etapes) }}
                              {{ form_row(recetteForm.dateAjout) }}
                              {{ form_row(recetteForm.categorie) }}
                              {{ form_row(recetteForm.imageFile) }}
                                  <div style="display: flex; justify-content: center">
                                      <img id="imgPreview"/>
                                  </div>
                              <div class="form-submit">
                                {{ form_row(recetteForm.submit) }}
                              </div>
                              {{ form_end(recetteForm) }}
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </section>

  <!-- end food section -->
  </main>

<script>
    let loadFile = function(event) {
        let imgPreview = document.getElementById('imgPreview');
        imgPreview.src = URL.createObjectURL(event.target.files[0]);
        imgPreview.onload = function() {
            URL.revokeObjectURL(imgPreview.src) // free memory
        }
    };
</script>
{% endblock %}
