{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <main>
        <!-- MAIN -->
        <section class="food_section layout_padding-bottom">
            <div class="container">
                <!-- LES RECETTES + BOUTON AJOUT RECETTE -->
                <div class="heading_container heading_center">
                    <button class="ajouterRecette" style="visibility: hidden">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                    <h2>
                        Les recettes
                    </h2>
                    <a href="{{ path('ajoutRecette') }}">
                        <button class="ajouterRecette">
                                <i class="fa-solid fa-plus"></i>
                        </button>
                    </a>
                </div>

                <!-- FLASH MESSAGE -->
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success mt-4" style="text-align: center">
                        {{ message }}
                    </div>
                {% endfor %}

                <!-- FILTRES PAYS -->
                <ul class="filters_menu">
                    <li class="active" data-filter="*" style="padding-top: 9px">TOUT</li>
                    <li data-filter=".France"><img src="{{ asset('images/flags/France.png') }}" style="width: 25px;"></li>
                    <li data-filter=".Italie"><img src="{{ asset('images/flags/Italie.png') }}" style="width: 25px;"></li>
                    <li data-filter=".Royaume-Uni"><img src="{{ asset('images/flags/Royaume-Uni.png') }}" style="width: 25px;"></li>
                    <li data-filter=".Espagne"><img src="{{ asset('images/flags/Espagne.png') }}" style="width: 25px;"></li>
                    <li data-filter=".Grèce"><img src="{{ asset('images/flags/Grèce.png') }}" style="width: 25px;"></li>
                    <li data-filter=".Inde"><img src="{{ asset('images/flags/Inde.png') }}" style="width: 25px;"></li>
                    <li data-filter=".Suisse"><img src="{{ asset('images/flags/Suisse.png') }}" style="width: 25px;"></li>
                    <li data-filter=".Allemagne"><img src="{{ asset('images/flags/Allemagne.png') }}" style="width: 25px;"></li>
                    <li data-filter=".Israël"><img src="{{ asset('images/flags/Israël.png') }}" style="width: 25px;"></li>
                    <li data-filter=".Etats-Unis"><img src="{{ asset('images/flags/Etats-Unis.png') }}" style="width: 25px;"></li>
                    <li data-filter=".Indonésie"><img src="{{ asset('images/flags/Indonésie.png') }}" style="width: 25px;"></li>
                    <li data-filter=".Liban"><img src="{{ asset('images/flags/Liban.png') }}" style="width: 25px;"></li>
                    <li data-filter=".Vietnam"><img src="{{ asset('images/flags/Vietnam.png') }}" style="width: 25px;"></li>
                </ul>

                <!-- RECETTES -->
                <div class="filters-content">
                    <div class="row grid">
                        {% if not recettes is same as([])  %}
                            <!-- CARTE D'UNE RECETTE -->
                            {% for recette in recettes %}
                            <div class="col-sm-6 col-lg-4 all {{ recette.categorie }}">
                                <div class="box">
                                    <div>
                                        <div class="img-box">
                                            <img src="{{ asset('images/recettes/'~recette.imageName) }}" id="img-recette" alt="Recette">
                                            <a href="{{ path('modifierRecette', {'id' : recette.id}) }}" id="edit"><img src="{{ asset('images/edit.png') }}" alt="Edit"></a>
                                            <a href="{{ path('supprimerRecette', {'id': recette.id}) }}" id="delete"><img src="{{ asset('images/delete.png') }}" alt="Delete"></a>
                                        </div>
                                        <div class="detail-box">
                                            <h5>
                                                {{ recette.nom }}
                                            </h5>
                                            <p class="apercuIngredients">
                                                {{ recette.apercuIngredients }}
                                            </p>
                                            <div class="options">
                                                <span>
                                                    <a href="{{ path('detailsRecette', {'id': recette.id}) }}">
                                                        <button class="book-btn"><img class="book" src="{{ asset('images/open-book.png') }}">Détails</button>
                                                    </a>
                                                </span>
                                                <img src="{{ asset('images/flags/' ~ recette.categorie ~ '.png') }}" style="width: 30px; height: 30px; margin-top: 10px;" alt="Drapeau">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}


